@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
html, body,  span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer,  hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #CFF5E7;
}
header{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 30px;
    background-color: #59C1BD;
    color: #0D4C92;
    font-weight: bold;
}
.name{
    width: fit-content;
}
main{
    padding: 20px;
}
.img-container{
    width: 50vw;

}
button{
    border: 0;
    width: fit-content;
    width: 150px;
    height: 50px;
    font-size: 1.05rem;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 15px;
    background: #0D4C92;

}

.label-file{
    cursor: pointer;
    background-color: #083466;
    padding: 15px;
    font-size: 1rem;
    display: block;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    width: fit-content;
    text-decoration: underline;
}
.input-file{
    position: absolute;
    left: 20px;
    z-index: -1;
    visibility: hidden;
}
#imageButton{
    border: 0;
    font-size: 1.4rem;
    position: relative;
    background: #0D4C92;
}
input[type="range"]{
    position: absolute;
    top: 50px;
    left: 0;
    width: 140px;
    display: none;
}
.btnEleven{
    justify-self: start;
} 
.editing-container-grid>div{
    position: relative;
}
.editing-container-grid{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: space-around;
}
.optToHide:nth-child(1){
    grid-area: labelO;
    align-self: center;
}
.optToHide:nth-child(2){
    grid-area: inputO;
}.optToHide:nth-child(3){
    grid-area: labelTw;
}.optToHide:nth-child(4){
    grid-area: inputTw;
}.optToHide:nth-child(5){
    grid-area: labelT;
}.optToHide:nth-child(6){
    grid-area: inputT;
}
.optToHide{
    position: absolute;
    background-color: rgb(101, 77, 158);
    padding: 20px;
    border: 1px solid rgb(92, 62, 62);
    border-radius: 15px;
    color: azure;
    margin-top: 15px;
    display: grid;
    grid-template-areas:
    'labelO inputO'
    'labelTw inputTw'
    'labenT inputT';
    gap: 10px 7px;
    visibility: hidden;
    transition: .25s ease-in;

}


input[type="number"]{
    width: 20px;
    appearance: textfield;
    height: 10px;
    font-size: 0.8rem;
}
.canvas{
    width: 90vw;
    margin-bottom: 20px;
    height: 400px;
    display: block;
    border-radius: 7px;
    outline: 1px solid rgb(0, 0, 0);
}
#name-span{
    color:#CFF5E7;
}